<!-- Main Navigation -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
  crossorigin="anonymous"
/>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Survey Buzz</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a style="color: white;" href="/"><i class="nav-link fa fa-home fa-lg" style="color: white;"></i> Home</a>
      </li>

      <li class="nav-item">
        <a style="color: white;" href="/survey-list"
        ><i class="nav-link fa fa-list fa-lg" style="color: white;"> </i> Survey List</a
        >
      </li>

      <li class="nav-item">
        <a style="color: white;" href="/add-survey"
        ><i class="nav-link fa fa-square-poll-vertical fa-lg" style="color: white;"> </i> Add Survey</a
        >
      </li>
    </ul>
  </div>
</nav>
